@using System.Text.RegularExpressions

@{

    ReviewSite.Models.Article article = ViewBag.Article;
    if (article.Title != null)
    {ViewBag.Title = article.Title;}
    else{ViewBag.Title = "Reviews";}
    KeyValuePair<string, string> link1 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
    KeyValuePair<string, string> link2 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
    KeyValuePair<string, string> link3 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
    KeyValuePair<string, string> link4 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
    KeyValuePair<string, string> link5 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
    KeyValuePair<string, string> link6 = ReviewSite.Controllers.ReviewsController.GetRandomLink();
}

<div class="container">


    <div class="row">
        <div class="col-lg-8">
            <div style="margin-top:20px; text-align: center;" class="alignleft">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "amazonhomepage";
                    amzn_assoc_banner_type = "rotating";
                    amzn_assoc_p = "26";
                    amzn_assoc_width = "468";
                    amzn_assoc_height = "60";
                    amzn_assoc_tracking_id = "streamrecom-20";
                    amzn_assoc_linkid = "04838c98ccac65e77c5400fa0d67a2eb";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
            @if (article.Title != null)
            {
                <h1>@article.Title</h1>
            }
            @if (article.Author != null)
            {
                <p class="lead">
                    by <a href="#">@article.Author</a>
                </p>
                <hr>
            }
            @if (article.PostedDate != null)
            {
                <p>
                    <span class="glyphicon glyphicon-time"></span> Posted on @article.PostedDate
                </p>
                <hr>
            }
            @if (article.ImageUrl != null)
            {
                <img src="@article.ImageUrl" class="img-responsive">
                <hr>
            }

            @if (article.LeadText != null)
            {
                <p class="lead">@article.LeadText</p>
            }
            @if (article.BodyText != null)
            {
                string body = ReviewSite.Helpers.ArticleHelper.sanitizeArticle(article.BodyText);
                <p>@Html.Raw(body)</p>
                <br/>
                <hr>
            }

        </div>
        <div style="margin-top:100px;" class="col-lg-4">
            <!--UberCPM.com BANNER 160x600 - DO NOT MODIFY-->
            <script type="text/javascript">
<!--
document.write('<s'+'cript type="text/javascript" src="//ubercpm.com/show.php?z=28&pl=4154&j=1&code='+new Date().getTime()+'"></s'+'cript>');
// --></script>
            <!--UberCPM.com BANNER 160x600 - DO NOT MODIFY-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- /well -->
            <div class="well" style="margin-top: 20px;">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="@link1.Key">@link1.Value</a>
                            </li>
                            <li>
                                <a href="@link2.Key">@link2.Value</a>
                            </li>
                            <li>
                                <a href="@link3.Key">@link3.Value</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            
                            <li>
                                <a href="@link4.Key">@link4.Value</a>
                            </li>
                            <li>
                                <a href="@link5.Key">@link5.Value</a>
                            </li>
                            <li>
                                <a href="@link6.Key">@link6.Value</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "streamrecom-20";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "bb8769216b8839ee7b842e98f53cd3fa";
amzn_assoc_fallback_mode = {"type":"search","value":"electronics"};
amzn_assoc_default_category = "All";
amzn_assoc_emphasize_categories = "13900861,2335752011,130,172282";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>

