@using System.Text.RegularExpressions

@{

    ReviewSite.Models.Article article = ViewBag.Article;
    if (article.Title != null)
    {ViewBag.Title = article.Title;}
    else{ViewBag.Title = "Reviews";}
    ReviewSite.Models.Article link1 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
    ReviewSite.Models.Article link2 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
    ReviewSite.Models.Article link3 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
    ReviewSite.Models.Article link4 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
    ReviewSite.Models.Article link5 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
    ReviewSite.Models.Article link6 = ReviewSite.Helpers.ArticleHelper.GetArticle(null);
}

<div class="container">

    <div class="row">
        <div class="col-lg-8">

            @if (article.Title != null)
            {
                <h1>@article.Title</h1>
            }
            @if (article.Author != null)
            {
                <p class="lead">
                    by <a href="#">@article.Author</a>
                </p>
                <hr>
            }
            @if (article.PostedDate != null)
            {
                <p>
                    <span class="glyphicon glyphicon-time"></span> Posted on @article.PostedDate
                </p>
                <hr>
            }
            @if (article.ImageUrl != null)
            {
                <img src="@article.ImageUrl" class="img-responsive">
                <hr>
            }

            @if (article.LeadText != null)
            {
                <p class="lead">@article.LeadText</p>
            }
            @if (article.BodyText != null)
            {
                string body = WebUtility.HtmlDecode(article.BodyText);
                body = body.Replace('\n', ' ');
                body = body.Replace('\r', ' ');
                int pos = body.IndexOf("<a class=\"visually");
                if (pos != -1)
                {
                    body = body.Substring(0, pos);
                }
                body = body.Replace("wired", "electricienmoinscher");
                body = body.Replace("https", "http");
                <p>@Html.Raw(body)</p>
                <br/>
            <hr>
            }        
           
        </div>

        <div class="col -lg-4">
            <!-- /well -->
            <div class="well" style="margin-top: 20px;">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/@link1.TextId">@link1.Title</a>
                            </li>
                            <li>
                                <a href="/@link2.TextId">@link2.Title</a>
                            </li>
                            <li>
                                <a href="/@link3.TextId">@link3.Title</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/@link4.TextId">@link4.Title</a>
                            </li>
                            <li>
                                <a href="/@link5.TextId">@link5.Title</a>
                            </li>
                            <li>
                                <a href="/@link6.TextId">@link6.Title</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
